---
// src/components/Footer.astro
import type { Props } from '@astrojs/starlight/props';
import Default from '@astrojs/starlight/components/Footer.astro';
---


{/* Render the original/actual Starlight footer so your site still looks normal */}
<Default {...Astro.props} />



<!-- 

<script is:inline src="https://www.biblegateway.com/public/link-to-us/tooltips/bglinks.js"></script>

<script is:inline>
  function applyBibleLinks() {
    // Check if the library has loaded yet
    if (window.BGLinks) {
      BGLinks.version = "NASB1995";
      BGLinks.linkVerses();
    }
  }

  // Run immediately on the first page load
  applyBibleLinks();

  // Run every time Starlight navigates to a new page
  document.addEventListener('astro:page-load', applyBibleLinks);
</script>

-->


<script src="https://literalword.com/bible-tagger.js" data-version="NASB" data-theme="system"></script>


<footer class="minimal-global-footer">
<hr>
<br>
Send your feedback or questions via <a href="https://www.facebook.com/HeadcoveringForEvangelicals">Facebook Messenger</a> or <a href="https://www.instagram.com/headcovering_for_evangelicals/">Instagram DM.</a>
<br>
  <p>&copy; {new Date().getFullYear()} headcovering.org. All rights reserved.</p>
</footer>


<style>
  .minimal-global-footer {
    border-top: 1px solid var(--sl-color-hairline);
    padding: 2rem 0;
    margin-top: 5rem;
    text-align: center;
    width: 100%;
  }
  
  .minimal-global-footer p {
    margin: 0;
    color: var(--sl-color-gray-4);
    font-size: var(--sl-text-sm);
  }
</style>